@font-face {
  font-family: "vazir";
  src: url(../fonts/font-types/vazir/Vazir-Medium.ttf);
  src: url(../fonts/font-types/vazir/Vazir-Medium.eot), url(../fonts/font-types/vazir/Vazir-Medium.woff), url(../fonts/font-types/vazir/Vazir-Medium.woff2);
}
@font-face {
  font-family: "kumbh";
  src: url(../fonts/font-types/KumbhSans-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "vazir";
  direction: rtl;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
}

.mr-top-menu {
  border-bottom: 1px solid #bfbfc0;
}
.mr-top-menu-ul {
  font-size: 16px;
  font-weight: 700;
  margin-left: 20px;
}
.mr-top-menu-ul li {
  transition: all 0.3s linear;
  margin-right: 30px;
  padding: 25px 0px;
  font-size: 18px;
}
.mr-top-menu-ul li:hover {
  box-shadow: 0px -5px 0px -2px #ff7d1a inset;
}
.mr-user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 2rem;
  transition: all 0.1s linear;
  cursor: pointer;
}
.mr-user-img img {
  width: 100%;
  height: 100%;
}
.mr-user-img:hover {
  border: 1px solid #ff7d1a;
}
.mr-cart {
  position: relative;
  cursor: pointer;
  color: #69707d;
}
.mr-cart-count {
  position: absolute;
  top: -8px;
  left: 12px;
  background-color: #ff7d1a;
  color: white;
  padding: 0 5px;
  border-radius: 50%;
  font-size: 12px;
}
.mr-mobile-close {
  text-align: end;
}
.mr-sidebar-menu {
  transition: all 0.3s linear;
  width: 60%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(0);
  background-color: white;
  color: #bfbfc0;
  padding: 20px 40px;
  font-size: 20px;
  font-weight: 900;
  z-index: 200;
}
.mr-sidebar-menu ul {
  margin-top: 20px;
}
.mr-sidebar-menu ul li a {
  color: #0c0c0e;
  margin-bottom: 10px;
}
.mr-sidebar-menu ul li a:hover {
  color: #ff7d1a;
}
.mr-sidebar-menu ul li a:focus {
  color: #ff7d1a;
}
.mr-sidebar-menu span {
  cursor: pointer;
}

.mr-main-slides {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 2rem;
  position: relative;
}
.mr-mainSlide {
  width: 100%;
  height: auto;
  cursor: pointer;
  display: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
.mr-main-dot-container {
  width: 20%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}
.mr-main-dot {
  width: 100%;
  height: auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
.mr-main-dot:hover {
  opacity: 75%;
}
.mr-active {
  border: 3px solid #ff7d1a;
}
.mr-active img {
  opacity: 75%;
}
.mr-main-btn {
  display: none;
  position: absolute;
  font-size: 25px;
  color: black;
  background-color: white;
  top: 50%;
  margin-top: -50px;
  padding: 5px 15px;
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s linear;
  user-select: none;
}
.mr-main-btn:hover {
  color: #ff7d1a;
}
.mr-main-prev {
  right: 0px;
}
.mr-main-next {
  left: 0px;
}
.mr-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none;
}
.mr-modal-close {
  width: 40%;
  color: white;
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 1rem;
}
.mr-modal-close:hover {
  color: #98999e;
}
.mr-modal-slides {
  width: 90%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 2rem;
  position: relative;
}
.mr-modalSlide {
  display: none;
  width: 100%;
  height: auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
.mr-modal-btn {
  position: absolute;
  font-size: 25px;
  color: black;
  background-color: white;
  top: 50%;
  margin-top: -50px;
  padding: 5px 15px;
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s linear;
  user-select: none;
}
.mr-modal-btn:hover {
  color: #ff7d1a;
}
.mr-modal-prev {
  right: 10px;
}
.mr-modal-next {
  left: 10px;
}
.mr-modal-dots {
  width: 35%;
}
.mr-modal-dot-container {
  width: 20%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}
.mr-modal-dot {
  width: 100%;
  height: auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
.mr-modal-dot:hover {
  opacity: 75%;
}
.mr-description h1 {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 40px;
}
.mr-description h1 span {
  font-size: 25px;
}
.mr-description p {
  color: #bfbfc0;
  font-size: 18px;
  line-height: 1.8rem;
  margin-bottom: 40px;
}
.mr-company {
  color: #ff7d1a;
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 15px !important;
}
.mr-price {
  font-size: 28px;
  font-weight: 900;
}
.mr-price-off {
  margin-right: 20px;
  background-color: rgba(255, 125, 26, 0.1);
  color: #ff7d1a;
  padding: 2px 5px;
  border-radius: 5px;
  font-weight: 900;
}
.mr-real-price {
  font-weight: 900;
  color: #bfbfc0;
  text-decoration: line-through;
  margin-bottom: 40px;
}
.mr-btns a,
.mr-btns label {
  outline: none;
  background-color: #fafafa;
  font-weight: 900;
  padding: 15px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mr-btns button {
  width: 100%;
  background-color: #ff7d1a;
  color: white;
  font-size: 15px;
  font-weight: 900;
  border-radius: 7px;
  transition: all 0.1s linear;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mr-btns button:hover {
  color: white;
  opacity: 75%;
}
.mr-btns button span {
  margin: 0 0.5rem;
}
.mr-btns button svg {
  margin-right: 1rem;
}

.mr-overlay {
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 75%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.mr-cart-box {
  width: 400px;
  height: 280px;
  background-color: white;
  position: absolute;
  top: 80px;
  left: 50px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px -25px black;
  transform: translateX(0px);
  transition: all 0.3s ease;
  z-index: 50;
}
.mr-cart-title {
  border-bottom: 1px solid #bfbfc0;
  padding: 1rem;
  font-weight: 700;
}
.mr-cart-content {
  width: 100%;
  padding: 1rem;
}
.mr-cart-content-empety {
  font-size: 16px;
  color: #bfbfc0;
  text-align: center;
  font-weight: 700;
  transform: translate(0, 60px);
}
.mr-product-delete {
  cursor: pointer;
  text-decoration: none;
}
.mr-product-img {
  width: 75px;
  height: 75px;
  border-radius: 5px;
  overflow: hidden;
}
.mr-product-img img {
  width: 100%;
  height: 100%;
}
.mr-product-description {
  font-size: 16px;
}
.mr-product-description p {
  margin: 0;
  color: #98999e;
}
.mr-product-description p span {
  color: #0c0c0e;
  font-weight: 900;
}
.mr-checkout-btn {
  width: 100%;
  margin-top: 2rem;
  background-color: #ff7d1a;
  color: white;
  font-size: 15px;
  font-weight: 900;
  border-radius: 7px;
  transition: all 0.1s linear;
  padding: 15px;
}
.mr-checkout-btn:hover {
  color: white;
  opacity: 75%;
}
.mr-hide-cartbox {
  display: none;
}
.mr-hide-sidebar {
  transform: translateX(100%);
}
.mr-hide-overlay {
  opacity: 0;
  transform: translateX(100%);
}
.mr-cart-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 992px) {
  .mr-btns button {
    margin-top: 20px;
  }
  .mr-content {
    margin: 20px 0 !important;
  }
  .mr-gallery {
    margin: 0 !important;
  }
  .mr-gallery-show {
    width: 100%;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 0 !important;
  }
  .mr-main-dot {
    display: none;
    justify-content: none;
  }
  .mr-active {
    display: none;
  }
  .mr-main-btn {
    display: block;
  }
  .mr-description {
    margin: 0 !important;
  }
  .mr-description h1 {
    font-weight: 900;
    margin-bottom: 30px;
  }
  .mr-description p {
    color: #98999e;
    font-size: 16px;
    line-height: 1.5rem;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .mr-cart-box {
    width: 90%;
    height: 280px;
    top: 80px;
    right: 5%;
  }

  .mr-content {
    margin: 0 !important;
  }
  .mr-gallery {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
  }
  .mr-gallery-show {
    width: 100%;
    height: 300px;
    border-radius: 0px;
    overflow: hidden;
    margin-bottom: 0rem !important;
  }
  .mr-main-dot {
    display: none;
    justify-content: none;
  }
  .mr-active {
    display: none;
  }
  .mr-image-list {
    display: none;
    justify-content: none;
  }
  .mr-description {
    margin: 0 !important;
    padding: 0px 15px 50px 15px !important;
  }
  .mr-description h1 {
    font-weight: 900;
    margin-bottom: 30px;
  }
  .mr-description p {
    color: #98999e;
    font-size: 16px;
    line-height: 1.5rem;
    margin-bottom: 20px;
  }
  .mr-product-description {
    margin: 0 10px;
  }
  .mr-product-img {
    width: 50px;
    height: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
