@font-face {
  font-family: "kumbh";
  src: url(../fonts/font-types/KumbhSans-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "kumbh";
}

.custome-overlay {
  display: none;
  opacity: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 75%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.custome-cart-box {
  display: none;
  opacity: 0;
  width: 350px;
  height: 250px;
  background-color: white;
  position: absolute;
  top: 80px;
  right: 50px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px -25px black;
}
.custome-cart-box h5 {
  border-bottom: 1px solid #bfbfc0;
  padding: 1rem;
  font-weight: 700;
}
.custome-cart-box div {
  padding: 1rem;
  text-align: center;
}
.custome-cart-box div p {
  font-size: 16px;
  font-weight: 700;
  color: #bfbfc0;
  transform: translate(0, 100%);
}
.custome-top-menu {
  border-bottom: 1px solid #bfbfc0;
}
.custome-top-menu-ul {
  font-size: 16px;
  font-weight: 700;
  margin-left: 20px;
}
.custome-top-menu-ul li {
  margin-left: 20px;
  padding: 25px 0px;
  transition: all 0.3s linear;
}
.custome-top-menu-ul li:hover {
  box-shadow: 0px -3px #ff7d1a inset;
}
.custome-user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 2rem;
  transition: all 0.1s linear;
  cursor: pointer;
}
.custome-user-img img {
  width: 100%;
  height: 100%;
}
.custome-user-img:hover {
  border: 1px solid #ff7d1a;
}
.custome-cart {
  position: relative;
  cursor: pointer;
}
.custome-cart-count {
  position: absolute;
  top: -5px;
  left: 10px;
  background-color: #ff7d1a;
  color: white;
  padding: 0 5px;
  border-radius: 50%;
  font-size: 12px;
}
.custome-sidebar-menu {
  display: none;
  opacity: 0;
  transform: translateX(-100%);
  background-color: white;
  padding: 20px;
  width: 60%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  color: #bfbfc0;
  font-size: 20px;
  font-weight: 900;
  z-index: 200;
}
.custome-sidebar-menu ul {
  margin-top: 20px;
}
.custome-sidebar-menu ul li a {
  color: #0c0c0e;
}
.custome-sidebar-menu ul li a:hover {
  color: #ff7d1a;
}
.custome-sidebar-menu ul li a:focus {
  color: #ff7d1a;
}
.custome-sidebar-menu span {
  cursor: pointer;
}

.custome-gallery {
  background-color: #ff7d1a;
}
.custome-description h1 {
  font-weight: 900;
  margin-bottom: 30px;
}
.custome-description p {
  color: #98999e;
  font-size: 16px;
  line-height: 1.5rem;
  margin-bottom: 20px;
}
.custome-company {
  color: #ff7d1a;
  font-size: 16px;
  font-weight: 900;
}
.custome-price {
  font-size: 28px;
  font-weight: 900;
}
.custome-price-off {
  margin-left: 20px;
  background-color: rgba(255, 125, 26, 0.1);
  color: #ff7d1a;
  padding: 2px 5px;
  border-radius: 5px;
  font-weight: 900;
}
.custome-real-price {
  font-weight: 900;
  color: #bfbfc0;
  text-decoration: line-through;
  margin-bottom: 20px;
}
.custome-btns a, .custome-btns label {
  outline: none;
  background-color: #fafafa;
  font-weight: 900;
  padding: 15px;
  border-radius: 7px;
}
.custome-btns button {
  background-color: #ff7d1a;
  color: white;
  font-size: 15px;
  font-weight: 900;
  border-radius: 7px;
}
.custome-btns button:hover {
  color: white;
  opacity: 75%;
}
.custome-btns button svg {
  margin-right: 1rem;
}

@media only screen and (max-width: 576px) {
  .custome-cart-box {
    width: 90%;
    height: 250px;
    top: 80px;
    right: 5%;
  }
}

/*# sourceMappingURL=style.css.map */
