%image-list {
  width: 20%;
  height: 100px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  cursor: pointer;


  &:hover {
    opacity: 75%;
    box-shadow: 0px 0px 0px 3px $Orange inset;
  }

  &:focus {
    opacity: 0;
    box-shadow: 0px 0px 0px 10px $Orange;
  }
}

// Menus
.mr {
  &-top-menu {
    border-bottom: 1px solid $Grayish-blue;
  }

  &-top-menu-ul {
    font-size: $text-size;
    font-weight: 700;
    margin-left: 20px;

    li {
      transition: $trans-3;
      margin-left: 20px;
      padding: 25px 0px;

      &:hover {
        box-shadow: 0px -3px $Orange inset;
      }
    }
  }

  &-user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 2rem;
    transition: all 0.1s linear;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }

    &:hover {
      border: 1px solid $Orange;
    }
  }

  &-cart {
    position: relative;
    cursor: pointer;

    &-count {
      position: absolute;
      top: -5px;
      left: 10px;
      background-color: $Orange;
      color: $White;
      padding: 0 5px;
      border-radius: 50%;
      font-size: 12px;
    }
  }

  // &-moblie-menu {
  //   font-size: 1.5rem;
  //   margin-right: 1rem !important;
  // }

  &-sidebar-menu {
    transition: $trans-3;
    width: 60%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(0);
    background-color: $White;
    color: $Grayish-blue;
    padding: 20px;
    font-size: 20px;
    font-weight: 900;
    z-index: 200;

    ul {
      margin-top: 20px;

      li a {
        color: $Dark-grayish-blue;

        &:hover {
          color: $Orange;
        }

        &:focus {
          color: $Orange;
        }
      }
    }

    span {
      cursor: pointer;
    }
  }
}

// Content 
.mr {

  //gallery
  &-gallery-show {
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-image: url(/images/image-product-1.jpg);
    background-size: cover;
    border-radius: 20px;
    margin-bottom: 2rem;
  }

  &-image-list {
    display: flex;
    justify-content: space-between
  }

  &-item1 {
    @extend %image-list;
    background-image: url(/images/image-product-1-thumbnail.jpg);
  }

  &-item2 {
    @extend %image-list;
    background-image: url(/images/image-product-2-thumbnail.jpg);
  }

  &-item3 {
    @extend %image-list;
    background-image: url(/images/image-product-3-thumbnail.jpg);
  }

  &-item4 {
    @extend %image-list;
    background-image: url(/images/image-product-4-thumbnail.jpg);
  }

  //gallery end


  // desciption 
  &-description {

    h1 {
      font-weight: 900;
      margin-bottom: 30px;
    }

    p {
      color: $Gray;
      font-size: $text-size;
      line-height: 1.5rem;
      margin-bottom: 20px;
    }
  }

  &-company {
    color: $Orange;
    font-size: $text-size;
    font-weight: 900;
  }

  &-price {
    font-size: 28px;
    font-weight: 900;
  }

  &-price-off {
    margin-left: 20px;
    background-color: $very-pale-orang;
    color: $Orange;
    padding: 2px 5px;
    border-radius: 5px;
    font-weight: 900;
  }

  &-real-price {
    font-weight: 900;
    color: $Grayish-blue;
    text-decoration: line-through;
    margin-bottom: 20px;
  }

  &-btns {

    a,
    label {
      outline: none;
      background-color: $Light-grayish-blue;
      font-weight: 900;
      padding: 15px;
      border-radius: 7px;
    }

    button {
      width: 100%;
      background-color: $Orange;
      color: $White;
      font-size: 15px;
      font-weight: 900;
      border-radius: 7px;
      transition: $trans-1;
      padding: 15px;

      &:hover {
        color: $White;
        opacity: 75%;
      }

      svg {
        margin-right: 1rem;
      }
    }
  }

  //desciption end  
}

// Public css
.mr {
  &-overlay {
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: $Black;
    opacity: 75%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

  &-cart-box {
    width: 400px;
    height: 280px;
    background-color: $White;
    position: absolute;
    top: 80px;
    right: 50px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px -25px black;
    transform: translateX(0px);
    transition: all .3s ease;
    z-index: 50;

  }

  &-cart-title {
    border-bottom: 1px solid $Grayish-blue;
    padding: 1rem;
    font-weight: 700;
  }

  &-cart-content {
    width: 100%;
    padding: 1rem;

    &-empety {
      font-size: $text-size;
      color: $Grayish-blue;
      text-align: center;
      font-weight: 700;
      transform: translate(0, 60px);
    }
  }

  &-product-delete{
    cursor: pointer;
  }

  &-product-img {
    width: 75px;
    height: 75px;
    border-radius: 5px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &-product-description {
    font-size: $text-size;

    p {
      margin: 0;
      color: $Gray;

      span {
        color: $Dark-grayish-blue;
        font-weight: 900;
      }
    }
  }

  &-checkout-btn {
    width: 100%;
    margin-top: 2rem;
    background-color: $Orange;
    color: $White;
    font-size: 15px;
    font-weight: 900;
    border-radius: 7px;
    transition: $trans-1;
    padding: 15px;

    &:hover {
      color: $White;
      opacity: 75%;
    }
  }

  &-hide-cartbox {
    opacity: 0;
    height: 0;
  }

  &-hide-sidebar {
    transform: translateX(-100%);
  }

  &-hide-overlay {
    opacity: 0;
    transform: translateX(-100%);
  }

  // &-cart-result{

  // }

  &-cart-result {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}