// Menus
.mr {
  &-top-menu {
    border-bottom: 1px solid $Grayish-blue;
  }

  &-top-menu-ul {
    font-size: $text-size;
    font-weight: 700;
    margin-left: 20px;

    li {
      transition: $trans-3;
      margin-right: 30px;
      padding: 25px 0px;
      font-size: 18px;

      &:hover {
        box-shadow: 0px -5px 0px -2px $Orange inset;
      }
    }
  }

  &-user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 2rem;
    transition: all 0.1s linear;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }

    &:hover {
      border: 1px solid $Orange;
    }
  }

  &-cart {
    position: relative;
    cursor: pointer;
    color: #69707d;

    &-count {
      position: absolute;
      top: -8px;
      left: 12px;
      background-color: $Orange;
      color: $White;
      padding: 0 5px;
      border-radius: 50%;
      font-size: 12px;
    }
  }

  // &-moblie-menu {
  //   font-size: 1.5rem;
  //   margin-right: 1rem !important;
  // }

  &-mobile-close{
    text-align: end;
  }

  &-sidebar-menu {
    transition: $trans-3;
    width: 60%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(0);
    background-color: $White;
    color: $Grayish-blue;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 900;
    z-index: 200;

    ul {
      margin-top: 20px;

      li a {
        color: $Dark-grayish-blue;
        margin-bottom: 10px;

        &:hover {
          color: $Orange;
        }

        &:focus {
          color: $Orange;
        }
      }
    }

    span {
      cursor: pointer;
    }
  }
}

// Content 
.mr {

  //gallery
  &-main-slides {
    width: 100%;
    // height: 400px;
    height: auto;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 2rem;
    position: relative;
  }

  &-mainSlide {
    width: 100%;
    // height: 400px;
    height: auto;
    cursor: pointer;
    display: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }

  // &-main-dots {
  //   display: flex;
  //   justify-content: space-between
  // }

  // main image list 
  &-main-dot-container {
    width: 20%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
  }

  &-main-dot {
    width: 100%;
    height: auto;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;

    &:hover {
      opacity: 75%;
    }
  }

  &-active {
    border: 3px solid $Orange;

    img {
      opacity: 75%;
    }
  }

  // main next prev bnt 
  &-main-btn {
    display: none;
    position: absolute;
    font-size: 25px;
    color: $Black;
    background-color: $White;
    top: 50%;
    margin-top: -50px;
    padding: 5px 15px;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
    transition: $trans-1;
    user-select: none;

    &:hover {
      color: $Orange;
    }
  }

  &-main-prev {
    right: 0px;
  }

  &-main-next {
    left: 0px;
  }

  //Modal
  &-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
  }

  &-modal-close{
    width: 40%;
    color: $White;
    font-size: 25px;
    cursor: pointer;
    margin-bottom: 1rem;

    &:hover{
      color: $Gray;
    }
  }

  &-modal-slides {
    width: 90%;
    // height: 400px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 2rem;
    position: relative;
  }

  &-modalSlide {
    display: none;
    width: 100%;
    height: auto;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }

  &-modal-btn {
    position: absolute;
    font-size: 25px;
    color: $Black;
    background-color: $White;
    top: 50%;
    margin-top: -50px;
    padding: 5px 15px;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
    transition: $trans-1;
    user-select: none;

    &:hover {
      color: $Orange;
    }
  }
  &-modal-prev {
    right: 10px;
  }
  &-modal-next {
    left: 10px;
  }

  &-modal-dots{
    width: 35%;
  }

  &-modal-dot-container {
    width: 20%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
  }

  &-modal-dot {
    width: 100%;
    height: auto;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;

    &:hover {
      opacity: 75%;
    }
  }

  //gallery end


  // desciption 
  &-description {

    h1 {
      font-size: 35px;
      font-weight: 900;
      margin-bottom: 40px;

      span{
        font-size: 25px;
      }
    }

    p {
      color: $Grayish-blue;
      font-size: 18px;
      line-height: 1.8rem;
      margin-bottom: 40px;
    }
  }

  &-company {
    color: $Orange;
    font-size: $text-size;
    font-weight: 900;
    margin-bottom: 15px !important;
  }

  &-price {
    font-size: 28px;
    font-weight: 900;
  }

  &-price-off {
    margin-right: 20px;
    background-color: $very-pale-orang;
    color: $Orange;
    padding: 2px 5px;
    border-radius: 5px;
    font-weight: 900;
  }

  &-real-price {
    font-weight: 900;
    color: $Grayish-blue;
    text-decoration: line-through;
    margin-bottom: 40px;
  }

  &-btns {

    a,
    label {
      outline: none;
      background-color: $Light-grayish-blue;
      font-weight: 900;
      padding: 15px;
      border-radius: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    button {
      width: 100%;
      background-color: $Orange;
      color: $White;
      font-size: 15px;
      font-weight: 900;
      border-radius: 7px;
      transition: $trans-1;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: $White;
        opacity: 75%;
      }

      span {
        margin: 0 0.5rem;
      }

      svg {
        margin-right: 1rem;
      }
    }
  }

  //desciption end  
}

// Public css
.mr {
  &-overlay {
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: $Black;
    opacity: 75%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

  &-cart-box {
    width: 400px;
    height: 280px;
    background-color: $White;
    position: absolute;
    top: 80px;
    left: 50px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px -25px black;
    transform: translateX(0px);
    transition: all .3s ease;
    z-index: 50;

  }

  &-cart-title {
    border-bottom: 1px solid $Grayish-blue;
    padding: 1rem;
    font-weight: 700;
  }

  &-cart-content {
    width: 100%;
    padding: 1rem;

    &-empety {
      font-size: $text-size;
      color: $Grayish-blue;
      text-align: center;
      font-weight: 700;
      transform: translate(0, 60px);
    }
  }

  &-product-delete {
    cursor: pointer;
    text-decoration: none;
  }

  &-product-img {
    width: 75px;
    height: 75px;
    border-radius: 5px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &-product-description {
    font-size: $text-size;

    p {
      margin: 0;
      color: $Gray;

      span {
        color: $Dark-grayish-blue;
        font-weight: 900;
      }
    }
  }

  &-checkout-btn {
    width: 100%;
    margin-top: 2rem;
    background-color: $Orange;
    color: $White;
    font-size: 15px;
    font-weight: 900;
    border-radius: 7px;
    transition: $trans-1;
    padding: 15px;

    &:hover {
      color: $White;
      opacity: 75%;
    }
  }

  &-hide-cartbox {
    // opacity: 0;
    // height: 0 ;
    display: none;
  }

  &-hide-sidebar {
    transform: translateX(100%);
  }

  &-hide-overlay {
    opacity: 0;
    transform: translateX(100%);
  }

  // &-cart-result{

  // }

  &-cart-result {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}